<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= @response %>

<hr /> 

<%= @categories %>

<% @categories.each do |cat| %>
  <p><%=cat%></p>
<% end %>
<%= @cat_fatcs %>

<% @cat_fatcs.each do |fact|%>
  <p><%= fact %></p>
<% end %>
